/* .card-img-top {
    width: 50%;
    height: 15vw;
    object-fit: cover;
    background-color: red;
  }
  
  .card-title {
    color: #007bff;
  }
  
  .card-text {
    color: #555;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .navbar-brand:hover {
    color: #007bff;
  } */