.form-wrapper {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px #ccc;
  }
  
  .btn-proceed-to-payment {
    background-color: #0066ff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-proceed-to-payment:hover {
    background-color: #0052cc;
  }
  